body {
	background-color: black;
}

#icon {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  display: inline-block;
  width:auto;
  height:auto;
  max-width: 250px;
  max-height: 250px;
}
